.main-Section {
  width: 1139px;
  height: 551px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-Header {
  font-weight: 600;
  font-size: 54px;
}

.successCard-outer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 117px;
}
